<h1 class='wi'><%= @pools.size %> Pools</h1>
<p class='intro'>The pools listed below are all registered as active on your system.</p>

<% @pools.each do |pool| %>
  <h2>Pool: <%= pool.name %></h2>

  <%= reset_link pool %>

  <table class='workers'>
    <tr>
      <th>&nbsp;</th>
      <th>Queues</th>
      <th>Default</th>
      <th>Current</th>
      <th>Override</th>
    </tr>

    <% pool.queue_lists.sort_by { |l| l.to_s }.each do |queue_list| %>
      <tr class="<%=state = queue_list.state %>">
        <td class='icon'><img src="<%=u state %>.png" alt="<%= state %>" title="<%= state %>"></td>
        <td class='queues'>
          <% queue_list.to_s.split(",").each do |q| %>
            <a class="queue-tag" href="<%= u("/queues/#{q}") %>">
              <%= q %>
            </a>
          <% end %>
        </td>
        <td class='default'>
          <%= queue_list.default_count %>
        </td>
        <td class='current'>
          <%= queue_list.current_count %>
        </td>
        <td class='override'>
          <%= queue_list.override_count %>
          <%= incr_link(pool, queue_list) %>
          <%= decr_link(pool, queue_list) %>
        </td>
      </tr>
    <% end %>

    <% if pool.queue_lists.empty? %>
      <tr>
        <td colspan='5' class='no-data'>There are no registered pools</td>
      </tr>
    <% end %>

  </table>

<% end %>

<%=poll%>
